%a.top-jump.fa.fa-arrow-up{:href => "#home"}

= render partial: "home/mobile_nav"

#home
  .row
    .large-12.columns
      %a{:name => "home", "data-magellan-destination" => "home"}
      .logo= draw_svg('intro-logo', 'logo')

    .large-12.columns
      %h3.home-header
        Design
        %span.fa.fa-plus
        Development
  .area-foot.geo-white


#intro.content-container
  = render partial: "home/desktop_nav"

  .row.section-row
    .large-12.columns
      %h1.page-head-hidden 5tringy Creative, Salk Lake web design, SEO, Graphic Design.
      %h3.page-head Rise above all the rest
      %h4.subhead We focus on making you stand out in the best way possible. Don't be ashamed of your website anymore, we'll design you one so good your competition will be drooling!
      .row.home-trifecta
        .medium-4.columns.trifecta-cols
          .tri-icon.leaf= draw_svg('home-leaf', 'leaf')
          %h4 Fresh
          %p We focus on great products. We know how important design is, and how tightly design should be coupled to development. Check out some of the projects below and see for yourself.
        .medium-4.columns.trifecta-cols
          .tri-icon.bolt= draw_svg('home-bolt', 'bolt')
          %h4 Agile
          %p Quick iterations. Quick applications. Everything we do is agile, we work quickly to get you ideas that fit your needs. We design and develop your projects with the best tools available. We keep you up to date in market that never slows down.
        .medium-4.columns.trifecta-cols
          .tri-icon.shield= draw_svg('home-shield', 'shield')
          %h4 Stable
          %p We take quality assurence seriously. No shortcuts, or glass walls. Your applications stability and security are paramount to how we measure our success.

  .area-foot.bubs


#services.content-container
  %span{"data-magellan-destination" => "services"}
  %a.magellan-link{:name => "services"}
  .row.section-row.light
    .large-12.columns
      %h3.page-head.light Get back up to speed
      %h4.subhead.light It's time to get serious about your visual identity, in today's market quality establishes trust. We're here to help your customers build more confidence in your brand.

  = render partial: 'home/slide'

  .area-foot.angle


#projects.content-container
  %span{"data-magellan-destination" => "projects"}
  %a.magellan-link{:name => "projects"}
  .row.section-row
    .large-12.columns
      %h3.page-head Latest Work
      %h4.subhead Here is some of our latest and greatest, click on one to learn more.

  = render partial: "home/grid"

  .area-foot.angle-bottom


#about.content-container
  %span{"data-magellan-destination" => "about"}
  %a.magellan-link{:name => "about"}
  .row.section-row
    .large-12.columns
      %h3.page-head.light Hello, my name is Cody
      %h4.subhead.light 43% graphic designer, 31% web developer, 92% creative mastermind.
  .row.about-content
    .large-3.small-12.columns
      .cody-wrap
        = image_tag('cody.jpg')
    .large-9.small-12.columns
      %p.light
        I have an extensive design background, and have been fostering my development career. I have worked at companies large and small over the years, and currently spend most of my time as a Software Developer at
        %span= link_to 'Access Development', 'http://www.accessdevelopment.com/', target: '_blank'
        in Salt Lake City, Utah. In my free time, I could be making awesome things for you!

  .area-foot.angle


#contact
  %span{"data-magellan-destination" => "contact"}
  %a.magellan-link{:name => "contact"}
  .row.section-row
    .large-12.columns
      %h3.page-head Ready to start talking?
      %h4.subhead Send me a message here, I'll get back to you as soon as I can
      %i.fa.fa-comments.contact-icon

  .row#contact-form-row
    = render partial: "home/contact_form"

  .area-foot.geo-dark


%footer
  .row
    .large-12.columns
      %a.social-link.fa.fa-twitter-square{:href => "https://twitter.com/cstringy"}
      %a.social-link.fa.fa-linkedin-square{:href => "https://www.linkedin.com/in/codystringham"}
      %p Copyright &COPY; #{Time.now.year}, 5tringy Creative
